.display-each-password-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #0ea5e9;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 0px;
  margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
  .display-each-password-item {
    padding: 10px 20px;
    margin-right: 10px;
  }
}

.color1 {
  background-color: '#f59e0b';
}
.color2 {
  background-color: #10b981;
}
.color3 {
  background-color: #f97316;
}
.color4 {
  background-color: '#14b8a6';
}
.color5 {
  background-color: '#b91c1c';
}
.color6 {
  background-color: #ffffff;
}
.color7 {
  background-color: ' #0ea5e9';
}

.display-each-item-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  flex-shrink: 0;
  background-color: red;
  color: #f8fafc;
}

.display-input-items {
  padding: 0px 10px;
}
.display-input-website {
  font-family: 'Roboto';
  font-size: 14px;
  color: #f8fafc;
  margin: 4px;
}

.display-input-username {
  font-family: 'Roboto';
  font-size: 14px;
  color: #f8fafc;
  margin: 4px;
}
.display-input-password {
  font-family: 'Roboto';
  font-size: 14px;
  color: #f8fafc;
  margin: 4px;
}

.display-password-delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
.delete-image {
  width: 18px;
  height: 18px;
}
.star-image {
  width: 90px;
}

@media screen and (min-width: 576px) {
  .delete-image {
    width: 24px;
    height: 24px;
  }
}
